DEEPGRAM_API_KEY=
MONGODB_URI=mongodb://127.0.0.1:27017/meeting-transcriber
PORT=10000
ALLOWED_ORIGINS=http://localhost:3000
RESEND_API_KEY=
EMAIL_FROM=transcriber@omrajpal.in
FRONTEND_URL=http://localhost:3000
